
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width:  100%;
  height: auto;

  padding: 20px;

  background-color: var(--secundary-color);
  color: var(--secundary-color);

}

#header nav{
  display: flex;

  gap: 5px;
}

#nav-bar button{
  background-color: var(--);
}




