
  <section id="header">
    <h1><a routerLink="/home" id="logo">Oásis Photography</a></h1>
    <span class="flex-spacer"></span>
    <nav id="nav-bar">
      <button  routerLink="/login" >Login</button>
      <button routerLink="/sobre" >Sobre</button>
      <button  routerLink="/catalogo-fotos" >Álbuns</button>
      <button  routerLink="/estudio" >Estúdio</button>
      <button routerLink="/orcamento" >Orçamento</button>
      <button  routerLink="/contato">Contato
        @if (orcamentoService.contatoLiberado()) { 🔓 } @else { 🔒 }
        </button> 
    </nav>
</section>
