
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top:0;
  
  width: 100%;
  height: 110px;
  min-height: 85px;
  padding: 12px 30px;

  background-color: var(--secundary-color);

}

#logo{
  transition: all var(--short-time);

  border: none;
  background: none;
  
}

#logo img{
  width: 300px;
  height: 100px;
}

#logo:hover{
  transform: scale(1.05);

}


#header nav{
  display: flex;
  gap: 25px;
}

.nav-button{
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 13px;
  font-size: medium;

  border: 2px solid var(--border-color);
  border-radius: 25px;
  

  transition: all var(--short-time);
}

#nav-bar button:hover{
  transform: scale(1.05);
  background-color: var(--accent-color);
}

