
<section id="orcamento-main">
  <h2>Solicitar Orçamento</h2>
  <section class="orcamento-container">
    <section class="form-card">
      <h1 class="titulo-form">Solicitar Orçamento</h1>

      <p class="sub-form">
        Após enviar este formulário, os contatos diretos (WhatsApp e E-mail)
        do fotógrafo serão revelados automaticamente!
      </p>

      @if (sucessoEnviado()) {
        <section class="sucesso-alerta">
          <h2>Orçamento Enviado com Sucesso!</h2>
          <p>
            Continue navegando em 
            <strong><span><a routerLink="/home">nosso site.</a></span></strong>
          </p>
          
        </section>

      } @else {
        <form [formGroup]="formulario" 
          (ngSubmit)="submeter()" 
          class="form-grid">

          <!-- NOME -->
          <section class="campo">
            <label for="nome">
              Nome Completo
            </label>

            <input
              id="nome"
              type="text"
              formControlName="nome"
              placeholder="Digite seu nome completo">

            @if (
              formulario.get('nome')?.touched &&
              formulario.get('nome')?.invalid
            ) {
              <span class="mensagem-erro">
                Nome obrigatório (mínimo de 3 caracteres).
              </span>

            }

          </section>

          <!-- E-MAIL -->
          <section class="campo">
            <label for="email">
              Seu E-mail
            </label>
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="nome@provedor.com">

            @if (
              formulario.get('email')?.touched &&
              formulario.get('email')?.invalid
            ) {

              <span class="mensagem-erro">
                Insira um e-mail válido para receber nossa proposta.
              </span>

            }
          </section>

          <!-- ÁLBUM -->
          <section class="campo">
            <label for="tipoAlbum">
              Álbum Temático
            </label>

            <select
              id="tipoAlbum"
              formControlName="tipoAlbum">
              <option value="">
                Selecione uma opção
              </option>

              @for (album of albuns; track $index) {

                <option [value]="album">
                  {{ album }}
                </option>

              }

            </select>

          </section>


          <!-- MENSAGEM -->

          <section class="campo">

            <label for="mensagem">
              Escreva os detalhes do seu projeto de ensaio
            </label>

            <textarea
              id="mensagem"
              formControlName="mensagem"
              rows="4"
              placeholder="Conte um pouco sobre o ensaio que você deseja..."
            ></textarea>

            @if (
              formulario.get('mensagem')?.touched &&
              formulario.get('mensagem')?.invalid
            ) {

              <span class="mensagem-erro">
                Descreva brevemente sua ideia (mínimo de 10 caracteres).
              </span>

            }

          </section>


          <!-- BOTÃO -->

          <button
            type="submit"
            class="submit-btn"
            [disabled]="formulario.invalid"
          >
            Enviar Solicitação 
          </button>
        </form>

      }
    </section>
  </section>
</section>