<!--<footer class="site-footer">
  <p>
    © {{ anoAtual }}
    Oásis Photography.
    Todos os direitos reservados. | 
    📞 (21) 99999-9999 |
    ✉ contato@oasisfotografia.com.br
  </p>

</footer>-->

<footer class="site-footer">

    <p class="footer-brand">
        Oásis Photography
    </p>

    <p class="footer-contact">
        📞 (21) 99999-9999 |
        ✉ contato@oasisfotografia.com.br
    </p>

    <p class="footer-copy">
        © {{ anoAtual }} Oásis Photography. Todos os direitos reservados.
    </p>

</footer>

