/* Reset de toda a estilização do site */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a, button:hover{
    cursor: pointer;
}

:root {

    /* Cores principais */

    --primary-color: #d8c3a5;
    --secundary-color: #650017;
    --accent-color: #a43a20;
    --background-color: #171312;
    --text-color: #ead9c2;


    /* Cores complementares */

    --card-color: #29211e;
    --text-light-color: #f5e8d5;
    --border-color: #59443b;
    --hover-color: #451307;
    --accent-hover-color: #7d2815;


    /* Sombras */

    --section-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);


    /* Variáveis de tempo */

    --short-time: 0.2s;
    --medium-time: 0.5s;
    --long-time: 1s;


    /* Sections */

    --section-margin-top: 140px;
    --section-padding: 30px;
    --section-gap: 20px;
    --section-border: 1px solid var(--border-color);
    --section-transform-scale: 1.03;
    --border-radius: 8px;


    /* Botões */

    --button-color: var(--secundary-color);
    --button-text-color: #f5e8d5;
    --button-hover-color: var(--hover-color);
    --button-scale: 1.03;
}


