/* Reset de toda a estilização do site */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a, button:hover{
    cursor: pointer;
}

:root {

    /* Cores principais */

    --primary-color: #fff1d6;
    --secundary-color: #831c00;
    --accent-color: #a83212;
    --background-color: #f3e5dc;
    --text-color: #fff1d6;


    /* Cores complementares */

    --card-color: #ffffff;
    --text-light-color: #fff1d6;
    --border-color: #d6b8aa;
    --hover-color: #5c1300;
    --accent-hover-color: #762000;


    /* Sombras */

    --section-shadow: 0px 8px 12px rgba(10, 10, 10, 0.15);


    /* Variáveis de tempo */

    --short-time: 0.2s;
    --medium-time: 0.5s;
    --long-time: 1s;


    /* Sections */

    --section-margin: 60px;
    --section-padding: 30px;
    --section-gap: 20px;
    --section-border: 1px solid var(--border-color);
    --section-transform-scale: 1.03;
    --border-radius:8px;


    /* Botões */

    --button-color: var(--secundary-color);
    --button-text-color: #fff1d6;
    --button-hover-color: var(--hover-color);
    --button-scale: 1.03;
}