#main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: large;


    padding-top: 180px;
    padding-bottom: 150px;
}   

#bloco-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    width: 900px;
    height: 500px;

    gap: var(--section-gap);

    padding: 15px;
    background-color: var(--background-color);
    box-shadow: var(--section-shadow);

    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    
}



#form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    width: 80%;
    height: auto;    
    
}

#form-login input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;

    width: 60%;
    height: auto;
   
}

#form-login button{

   text-align: center;
    
    width: 60%;
    height: auto;
    
    padding: 10px;
    border: 1px solid gray;
    background-color: var(--secundary-color);
    color: var(--button-text-color);
    border-radius: var(--border-radius);
    font-size: large;

    transition: all var(--short-time);
}

#form-login button:hover{
    transform: scale(1.03);
    background-color: var(--hover-color);
}

